#slide-container {
    position: relative;
    background-color: aqua;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    overflow: auto;
}

#slide-inner {
    width: 50%;
    height: 100px;
    margin: 0 auto;
    margin-top: 100px;
}

#slide {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.s-item {
    background-color: aqua;
    width: 100%;
    color: #000;
    padding-top: 20px;
    text-align: center;
}