html, body { margin: 0; padding: 0; }

#container-site { width: 100%; font-family: 'Open Sans'; font-size: 14px;}

#container-1 { width: 100%; height: 250px; overflow: hidden; background-color: #003D69;}
#container-1 #sjrp-info { width: 80%; height: 120px; margin: 0 auto; }
#container-1 #sjrp-info #sjrp-detail { color: #FFF !important; display: block; text-align: center; color: rgba(0,0,0,0.87); }
#container-1 #sjrp-info #sjrp-detail .sjrp-name { font-size: 24px; font-weight: bold; }
#container-1 #sjrp-info #sjrp-detail .sjrp-secti { font-size: 16px;}

#container-2 { width: 100%; height: 650px; overflow: hidden; }
#container-2 #sjrp-slide { width: 60%; height: 150px; margin: 0 auto; margin-top: 80px; }
#container-2 #sjrp-slide .slide {padding: 0; margin: 0 auto; list-style: none; width: 80% !important;}
#container-2 #sjrp-slide .slide li { background-color: #FFF; width: 100% !important; text-align: center;}
#container-2 #sjrp-slide .slide li .slide-item { font-family: 'Open Sans Light'; font-size: 22px;}

#container-2 #sjrp-main { width: 60%; height: 240px; margin: 0 auto; margin-top: 80px; }
#container-2 #sjrp-main #sjrp-old p { text-align: center; font-size: 24px; font-family: 'Open Sans Light'; line-height: 1.7em;}

#container-2 #sjrp-main #sjrp-old .btn-old-site { color: #FFF; background-color: #195078; text-decoration: none; display: block; width: 200px; padding: 20px; margin: 0 auto; margin-top: 50px; }
#container-2 #sjrp-main #sjrp-old .btn-old-site:hover { background-color: #003D69; transition: linear 0.5s; }

/*background-color: #34495E background-color: #2C3E50*/
#container-3 { width: 100%; height: 350px; overflow: hidden;}
#container-3 #sjrp-options{ width: 80%; height: 300px; margin: 0 auto;}
#container-3 #sjrp-options .sjrp-options-title {font-size: 24px; font-weight: bold;}