html, body { margin: 0; padding: 0; }

#container-site { width: 100%; font-family: 'open_sansregular'; font-size: 14px; }

#container-1 { width: 100%; height: 270px; overflow: hidden; background-color: #003D69; 
    border-bottom: 1px dashed #FFF;}
#container-1 #sjrp-info { width: 80%; height: 120px; margin: 0 auto; }
#container-1 #sjrp-info #sjrp-detail { color: #FFF !important; display: block; text-align: center; color: rgba(0,0,0,0.87); }
#container-1 #sjrp-info #sjrp-detail .sjrp-name { font-size: 24px; font-weight: bold; }
#container-1 #sjrp-info #sjrp-detail .sjrp-secti { font-size: 16px;}

#container-2 { width: 100%; height: 650px; overflow: hidden; }
#container-2 #sjrp-main { width: 60%; height: 240px; margin: 0 auto; margin-top: 80px; }

#container-2 #sjrp-main #sjrp-old p { text-align: center; font-size: 20px; font-family: 'open_sanslight'; line-height: 2.0em; padding-bottom: 20px;}
#container-2 #sjrp-main #sjrp-old .destaque {font-family: 'open_sansbold'; color: #e67e22;}
#container-2 #sjrp-main #sjrp-old .welcome {font-size: 32px; font-family: 'open_sanslight';}

#container-2 #sjrp-main #sjrp-old .btn-old-site { color: #FFF; background-color: #2ecc71; text-decoration: none; display: block; width: 200px; padding: 20px; margin: 0 auto; margin-top: 50px; }
#container-2 #sjrp-main #sjrp-old .btn-old-site:hover { background-color: ##27ae60; transition: linear 0.5s; }


/*background-color: #34495E background-color: #2C3E50*/
#container-3 { width: 100%; height: auto; overflow: hidden;}
#container-3 #sjrp-options{ width: 90%; height: 400px; margin: 0 auto; padding-top: 50px;}
#container-3 #sjrp-options .sjrp-options-title {font-size: 24px; font-family: 'open_sansbold'; text-align: center;}

#container-3 #sjrp-social {width: 80%; height: 400px; margin: 0 auto; margin-top: 50px;}
#container-3 #sjrp-social p {text-align: center; font-size: 28px; font-family: 'open_sanslight'; line-height: 1.7em;}
#container-3 #sjrp-social #fb-page {width: 50%; margin: 0 auto;}

.post {margin-bottom: 80px;}
.hidden { opacity: 0; visibility: none;}
.visible{ opacity: 1; }

/*Design dos links uteis*/
#links{
	width: 100%;
	min-height: 40%;
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;	
	display: table;
}

#link-circle{
	border-radius: 100%;
    display: inline-block;
    height: 190px;
    width: 190px;
	margin: 20px;
	/*border: 2px solid #34495e;
    background-color: #f7f1f7;*/
	background-color: #34495e;
	vertical-align: center;
	text-align: center;
}

#link-circle a{
	border-radius: 100%;
    display: inline-block;
    height: 190px;
    width: 190px;
	line-height:40px;
	vertical-align:center;
	text-align:center;
}

#link-circle a{
	display: block;
}

#link-circle img{
	margin-top: 45px;
}

#link-circle p{
	margin-top: 1em;
}

#link-circle:hover{
	/*background-color: #fafafa;*/
	background-color: #ecf0f1;
	transition: linear .4s;
	-webkit-transition: linear .4s;
	
}